body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
	font: 12px/ 'Antic Slab', serif;
  color: #424242;
  overflow-x:hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
  }

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 * 
 */
   
.home_page{
	width: 100%;
	padding:0;
	height: 60vh;
	background-image: url("../img/web1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover; 
	position: relative;
}



.navbar{
   padding-top: 5px;
   padding-bottom: 5px;
}
.nav-link{
	font-size:16px;
	color: #fff !important;
}

.nav-link:hover{
	
	background-color:#91f1fd;
	color: #424242 !important;
}


.service_header{
	padding: 16px;
	font-weight: bold;
}



/* Slider */
#textSlider.row {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100% !important;
}
#textSlider div {
	color: #FFF;
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}

.iamCol {
	padding-top: 18px;
    text-align: right;
	float: left;
	font-weight: 300;
	font-size: 15pt;
}
.iamCol p:nth-child(2) {
	margin-top: -20pt !important; 
}
.slideCol {
	padding-left: 0;
	text-align: left;
    overflow: hidden;
	font-weight: 900;
	font-size: 25pt;
	display: block;
	white-space: nowrap;
}
.slideCol p { margin: 0px !important; }

.scroller {
   height: 70pt;
   line-height: 71pt;
   overflow: hidden;
}
.scroller .inner { animation: 10s normal infinite running scroll; }
@keyframes scroll {
   0%  	{margin-top: 0px;}
   15% 	{margin-top: 0px;}

   25%  {margin-top: -70pt;}
   40%  {margin-top: -70pt;}
   
   50%  {margin-top: -140pt;}
   65%  {margin-top: -140pt;}

   75%  {margin-top: -210pt;}
   90%  {margin-top: -210pt;}

   100% {margin-top: 0px;}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 479px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: center; font-size:16pt; }
	.iamCol p { display: inline !important; }
	.slideCol { font-size: 18pt; text-align: center; margin-top: -20px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 765px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: center; font-size:25pt; }
	.iamCol p { display: inline !important; }
	.slideCol { font-size: 38pt; text-align: center; margin-top: -20px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
	.iamCol { text-align: center; font-size: 27pt; }
	.iamCol p { display: inline !important; }
	.slideCol { font-size: 22pt; text-align: center; margin-top: 5px; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
	.iamCol { text-align: right; font-size: 28pt; }
	.slideCol { font-size: 44pt; text-align: left; }
}



.getInTouch-btn{
	color: #fff;
	border-color: #fff;
}

.getInTouch-btn:hover{
	background-color:#0a7785; 
}
.getInTouch{
    position: absolute;
    left: 46%;
    bottom: 15%;
	
}

/*
	service section
	
*/

.service_type{
	padding:10px;
	font-family: 'Antic Slab', serif;
	
}
.service-img{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 8%;
}
.service-img:hover{
	-webkit-box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.75);
     box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.75);
    transition: box-shadow .25s;
}
/* 
	about section

	
*/
.about_page{
 border: 1px solid silver;
 background-color: #777;
 background-image: url("../img/code.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
	
}


.about_content{
	padding: 20px;
	margin-right: 0;
	color: #fff;
	
}
.about_img_content{
	padding-top: 14px;
	
}
.my_picture img{
	max-height: 300px;
	max-width: 300px;
	margin: 10% auto;
	border-radius: 50%;
	border: 2px solid rgb(10, 119, 133);;

	
}


.about-text{
	font-size: 15px;
}
ul.a {
	  font-weight: bold;
	  color: #fff;
}
/*
	portfolio section
	
*/
.portfolio_page{
	padding: 0;
	margin: 0;

}

.project-image-background{
	padding: 10px;
	margin: 0;
    
}

/* css image effect starts from here*/
.image-box {
    position: relative;
    overflow: hidden;
	
}

.image-box img {
    width: 100%;
	min-height: 310px;
    transition: .5s;
    
}

.text-box {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: rgba(0, 52, 68, 0.5);
    transition: 0.5s
}

.text-box h3 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #FFF;
    font-family: arial;
    transform: translateX(-50%) translateY(-50%);
}

.text-box p {
    margin-top: 1%;
    padding: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    color: #FFF;
    font-family: arial;
    transform: translateX(-50%) translateY(-50%);
}



.image-box:hover .text-box {
    left: 0%;
}

.image-box:hover img {
    transform: scale(1.2)
}
#btn-showMore{
	margin-bottom:2%;
}

.moreProjects{
	display: none;
}
/*
	
	resume section

*/

#Resume{
	height: auto;
	color: #fff;
	background-color: #0a7785;
}

.resume_content{
	font-family: 'Antic Slab', serif;
}
.btn-resume{
	padding:36px;
	margin: 0;
	background-color: #0a7785;
}

/*
	
	contact section
	
*/


.contact_address{
	font-size: 14px;
	font-weight: bold;
	font-family: 'Antic Slab', serif;
}

/* 
	
	footer section
	
*/

.footer-container{
	background-color: #0a7785;
	height: 10%;
	padding-top: 8px;
	margin-bottom: 0;

}


.socialMedia-icons{
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	padding-bottom:14px;
	margin: 0;
	height: 40px;
	width: 48%;
}           

.socialMedia-icons li a{
	float: left;
	text-align: center;
	text-decoration: none;
	margin: 4px;
	color: #fff;
	width: 26px;
	height: 26px;
	border: 2px solid silver;
	font-size: 11px;
	border-radius: 50%;
	padding: 4px;
} 
.socialMedia-icons li a:hover{
	background-color: #fff;
	color: #000;
	border: 2px solid #777;
	
}


.licience{
	color: #fff;
	padding-top: 10px;
	padding-right: 16px;
	font-size: 12px;
}



   .project_page_header{   
	width: 100%;
	height: 25vh;
	padding-left: 0;
	padding-right: 0;
	background-image: url("../img/web1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover; 

	 
	 }
	 
.project_name1{
    margin-top: 5%;
    color: #fff;
}
.project_details{
 padding-top: 3%;
 padding-bottom: 5%;
}
.project_detail_paragraph{
padding-top: 2%;
}




/* 
	mobile device section 

*/
@media screen and (max-width: 320px) {
    	
.socialMedia-icons{
	
	width: 50%!important;
}

}
@media screen and (max-width: 610px) {

 .home_page{
	width: 100%;
	height: 100vh;
	position: relative;
}

.getInTouch{
position: absolute;
left: 38%;
bottom: 14%;	
}
 .project_page_header{   
	width: 100%;
	height: 15vh;
 }


.resume_page{
	width: 100%;
	height: auto;
	color: #fff;
	
}
.resume_content{
	padding: 20px;
	margin: 0;
	width:100%;
}
.btn-resume{
	padding: 20px;
	margin: 0;
	width:100%;
}


.socialMedia-icons{
	
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	padding-bottom:14px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 42%;
}           

 
.socialMedia-icons li a{
	float: left;
	text-align: center;
	text-decoration: none;
	margin-left: 2px;
	color: #fff;
	width: 25px;
	height: 25px;
	border: 1px solid silver;
	font-size: 10px;
	border-radius: 50%;
	padding: 4px;
} 
.licience{
	color: #fff;
	text-align: center;
	padding: 5px;
	margin: 0;
	font-size: 10px;
}
}


/* 
	ipad decive version 

*/
@media screen and (min-width: 768px) {
 .home_page{
	width: 100%;
	height: 75vh; 
	position: relative;
}

.getInTouch{
position: absolute;
left: 43%;
bottom: 14%;	
}


.my_picture img{
	 max-width: 200px;
}

.resume_content{
	background-color: #0a7785;
	padding: 20px;
}
.btn-resume{
	background-color: #0a7785;
	padding: 36px;
}



/* 
	labtop- large device section
	
*/

@media screen and (min-width: 850px) {
  .home_page{
	width: 100%;
	height: 60vh;
	position: relative;
}

.getInTouch{
position: absolute;
left: 46%;
bottom: 15%;	
}

.about_page{
	width: 100%;
	
}
.my_picture img{
	
	 max-width: 300px;
	
}


   
}







